/* fixed css */
.container{
  margin:0;
  padding:0;
}
.row{
  margin:0;
  padding:0;
}
div[class*="col-"]{
  margin:0;
  padding:0;
}
/* centerized setting */
.centerize{
  margin: 0 auto;
}
.centerize > *{
  text-align: center;
}
